<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>createscene</title>

  
</head><body>
<div style="text-align: center;">PLOTLINE...Create Scene<br>
<div style="text-align: left;">


<form action="/savescene" method="post">
  TITLE:&nbsp; <input name="TITLE">&nbsp;&nbsp;&nbsp; TAGS:&nbsp; <input name="TAGS"><br>
  </div>
  <div style="text-align: left;">CH#:&nbsp; <input name="CH#">&nbsp;&nbsp;&nbsp;
  SC#:&nbsp; <input name="SC#">&nbsp;&nbsp;&nbsp; LOC:&nbsp;&nbsp;&nbsp;
  <input name="LOCATION">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
  &nbsp;&nbsp; &nbsp;&nbsp;
  <select name="ADDTAGS" id="ADDTAGS">
  <option value="Tags">Tags</option>
  <option value="Sex">Sex</option>
  <option value="Church">Church</option>
  <option value="Action">Action</option>
  <option value="Cliffhangar">Cliffhanger</option>
  <option value="Trust">Trust</option>
  </select>[add]<br>
  <br>
   <input name="form" value="Save" type="submit"> 

</form>


</div>
</div>

</body></html>