<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>EditScene</title>

Test
<style type="text/css">
  .Prisoners {background-color: orange;}
  .Terrorism {background-color: purple;}
  .LiamSophia {background-color: pink;}
  .Emmaisaspy {background-color: gray;}
  .JeanisEvil {background-color: cadetblue;}
  .ElijahInvestigates {background-color: green;}
  .EmmaisDead {background-color: silver;}
  .RachelBen {background-color: fuchsia;}
  .BenSophia {background-color: lightsalmon;}
  .RachelNeedsBensHelp {background-color: lime;}
  .SophiaInvestigatesRepairs {background-color: olive;}
  .LiamInvestigatesTerrorism {background-color: yellow;}
  .JeanSophia {background-color: navy;}
  .EmmaJean {background-color: teal;}
  .TheONHR {background-color: aqua;}
  .Special {background-color: red;}
</style>

</div>
</head>
<body>


<div style="text-align: center;">PLOTLINE...Edit Scene<br>

  <a href="\createscene">Create...</a>
  <a href="\editscene">Edit...</a>
  <a href="\viewoutline">View...</a>
  <br>
  <br>

<div style="text-align: left;">

{% for row in rows %}

<form action="/updatescene/{{key}}" method="post">
  CH#: <textarea input name="CHAPTER">{{row['CHAPTER']}} </textarea>
  SC#: <textarea input name="SCENE">{{row['SCENE']}} </textarea>
  TAGS: <textarea input name="TAGS">{{row['TAGS']}} </textarea>
  <br>
  TITLE: <textarea input name="TITLE">{{row['TITLE']}} </textarea>
  LOCATION: <textarea input name='LOCATION'>{{row['LOCATION']}} </textarea>
  <select name="ADDTAGS" id="ADDTAGS">
  <option value="Tags">Tags</option>
  <option value="Sex">Sex</option>
  <option value="Church">Church</option>
  <option value="Action">Action</option>
  <option value="Cliffhangar">Cliffhanger</option>
  <option value="Trust">Trust</option>
  </select>[add]<br>
  <br>
  BEATS:
  <br>
  {% for row in beat %}
  {% if row[scenenumber] is not none %}
  
  {% if row['NARRATIVE'] == 'Prisoners' %}
  {% set color = 'Prisoners' %}
  {% elif row['NARRATIVE'] == 'Terrorism' %}
  {% set color = 'Terrorism' %}
  {% elif row['NARRATIVE'] == 'Liam + Sophia' %}
  {% set color = 'LiamSophia' %}
  {% elif row['NARRATIVE'] == 'Emma is a spy' %}
  {% set color = 'Emmaisaspy' %}
  {% elif row['NARRATIVE'] == 'Jean is Evil' %}
  {% set color = 'JeanisEvil' %}
  {% elif row['NARRATIVE'] == 'Elijah Investigates' %}
  {% set color = 'ElijahInvestigates' %}
  {% elif row['NARRATIVE'] == 'Emma is Dead' %}
  {% set color = 'EmmaisDead' %}
  {% elif row['NARRATIVE'] == 'Rachel + Ben' %}
  {% set color = 'RachelBen' %}
  {% elif row['NARRATIVE'] == 'Ben + Sophia' %}
  {% set color = 'BenSophia' %}
  {% elif row['NARRATIVE'] == 'Rachel needs Bens Help' %}
  {% set color = 'RachelneedsBensHelp' %}
  {% elif row['NARRATIVE'] == 'Sophia Investigates Repairs' %}
  {% set color = 'SophiaInvestigatesRepairs' %}
  {% elif row['NARRATIVE'] == 'Liam Investigates Terrorism' %}
  {% set color = 'LiamInvestigatesTerrorism' %}
  {% elif row['NARRATIVE'] == 'Jean + Sophia' %}
  {% set color = 'JeanSophia' %}
  {% elif row['NARRATIVE'] == 'Emma + Jean' %}
  {% set color = 'EmmaJean' %}
  {% elif row['NARRATIVE'] == 'The ONHR' %}
  {% set color = 'TheONHR' %}
  {% elif row['NARRATIVE'] == 'Special' %}
  {% set color = 'Special' %}

  {% endif %}

  <span style="background-color: {{ color }};"> - {{row[scenenumber]}} -- {{row['NARRATIVE']}}</span><br>
  <span class="{{ color }}"> - {{row[scenenumber]}} -- {{row['NARRATIVE']}}</span><br>
  

  {% endif %} 
  {% endfor %} 
  <br>
  <textarea input name="BEATS"></textarea>
  <select name="NARRATIVE" id="NARRATIVE">
  <option value="">NARRATIVE</option>
  <option class="Prisoners" value="Prisoners">Prisoners</option>
  <option class="Terrorism" value="Terrorism">Terrorism</option>
  <option class="LiamSophia" value="Liam + Sophia">Liam + Sophia</option>
  <option class="Emmaisaspy" value="Emma is a spy">Emma is a spy</option>
  <option class="JeanisEvil" value="Jean is Evil">Jean is Evil</option>
  <option class="ElijahInvestigates" value="Elijah Investigates">Elijah Investigates</option>
  <option class="EmmaisDead" value="Emma is Dead">Emma is Dead</option>
  <option class="RachelBen" value="Rachel + Ben">Rachel + Ben</option>
  <option class="BenSophia" value="Ben + Sophia">Ben + Sophia</option>
  <option class="RachelNeedsBensHelp" value="Rachel needs Bens Help">Rachel needs Bens Help</option>
  <option class="SophiaInvestigatesRepairs" value="Sophia Investigates Repairs">Sophia Investigates Repairs</option>
  <option class="LiamInvestigatesTerrorism" value="Liam Investigates Terrorism">Liam Investigates Terrorism</option>
  <option class="JeanSophia" value="Jean + Sophia">Jean + Sophia</option>
  <option class="EmmaJean" value="Emma + Jean">Emma + Jean</option>
  <option class="TheONHR" value="The ONHR">The ONHR</option>
  <option class="Special" value="Special">Special</option>
  </select>[add]<br>
  <br>
  
   <input name="form" value="Save" type="submit"> 

</form>

{% endfor %}

</div>
</div>

</body></html>