<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>EditScene</title>

  
</head><body>
<div style="text-align: center;">PLOTLINE...Edit Scene<br>
<div style="text-align: left;">

{% for row in rows %}

<form action="/updatescene/{{key}}" method="post">
  SC#: <textarea input name="SCENE">{{row['SCENE']}} </textarea>
  CH#: <textarea input name="CHAPTER">{{row['CHAPTER']}} </textarea>
  TAGS: <textarea input name="TAGS">{{row['TAGS']}} </textarea>
  <br>
  TITLE: <textarea input name="TITLE">{{row['TITLE']}} </textarea>
  LOCATION: <textarea input name='LOCATION'>{{row['LOCATION']}} </textarea>
  <select name="ADDTAGS" id="ADDTAGS">
  <option value="Tags">Tags</option>
  <option value="Sex">Sex</option>
  <option value="Church">Church</option>
  <option value="Action">Action</option>
  <option value="Cliffhangar">Cliffhanger</option>
  <option value="Trust">Trust</option>
  </select>[add]<br>
  <br>
  BEATS:
  <br>
  {% for row in beat %}
  {% if row[scenenumber] is not none %}
  
  {% if row['NARRATIVE'] == 'Prisoners' %}
  {% set color = 'orange' %}
  {% elif row['NARRATIVE'] == 'Terrorism' %}
  {% set color = 'purple' %}
  {% elif row['NARRATIVE'] == 'Liam + Sophia' %}
  {% set color = 'pink' %}
  {% elif row['NARRATIVE'] == 'Emma is a spy' %}
  {% set color = 'gray' %}
  {% elif row['NARRATIVE'] == 'Jean is Evil' %}
  {% set color = 'cadetblue' %}
  {% elif row['NARRATIVE'] == 'Elijah Investigates' %}
  {% set color = 'green' %}
  {% elif row['NARRATIVE'] == 'Emma is Dead' %}
  {% set color = 'silver' %}
  {% elif row['NARRATIVE'] == 'Rachel + Ben' %}
  {% set color = 'fuchsia' %}
  {% elif row['NARRATIVE'] == 'Ben + Sophia' %}
  {% set color = 'maroon' %}
  {% elif row['NARRATIVE'] == 'Rachel needs Bens Help' %}
  {% set color = 'lime' %}
  {% elif row['NARRATIVE'] == 'Sophia Investigates Repairs' %}
  {% set color = 'olive' %}
  {% elif row['NARRATIVE'] == 'Liam Investigates Terrorism' %}
  {% set color = 'yellow' %}
  {% elif row['NARRATIVE'] == 'Jean + Sophia' %}
  {% set color = 'navy' %}
  {% elif row['NARRATIVE'] == 'Emma + Jean' %}
  {% set color = 'teal' %}
  {% elif row['NARRATIVE'] == 'The ONHR' %}
  {% set color = 'aqua' %}
  {% elif row['NARRATIVE'] == 'Special' %}
  {% set color = 'red' %}

  {% endif %}

  <span style="background-color: {{ color }};">{{row[scenenumber]}} -- {{row['NARRATIVE']}}</span><br>

   

  {% endif %} 
  {% endfor %} 
  <br>
  <textarea input name="BEATS"></textarea>
  <select name="NARRATIVE" id="NARRATIVE">
  <option value="">NARRATIVE</option>
  <option value="Prisoners">Prisoners</option>
  <option value="Terrorism">Terrorism</option>
  <option value="Liam + Sophia">Liam + Sophia</option>
  <option value="Emma is a spy">Emma is a spy</option>
  <option value="Jean is Evil">Jean is Evil</option>
  <option value="Elijah Investigates">Elijah Investigates</option>
  <option value="Emma is Dead">Emma is Dead</option>
  <option value="Rachel + Ben">Rachel + Ben</option>
  <option value="Ben + Sophia">Ben + Sophia</option>
  <option value="Rachel needs Bens Help">Rachel needs Bens Help</option>
  <option value="Sophia Investigates Repairs">Sophia Investigates Repairs</option>
  <option value="Liam Investigates Terrorism">Liam Investigates Terrorism</option>
  <option value="Jean + Sophia">Jean + Sophia</option>
  <option value="Emma + Jean">Emma + Jean</option>
  <option value="The ONHR">The ONHR</option>
  <option value="Special">Special</option>
  </select>[add]<br>
  <br>
  
   <input name="form" value="Save" type="submit"> 

</form>

{% endfor %}

</div>
</div>

</body></html>