<form action="/savenarrative" method="post">
    PROJECT NAME: <br>
    <textarea name="projectname" cols="20" rows="1">{{ projectname }}</textarea> <br>
    DATA FILE: <br>
    <textarea name="database" cols="20" rows="1">{{ database }}</textarea> <br>
    LOGLINE: <br>
    <textarea name="logline" cols="20" rows="2">{{ logline }}</textarea> <br>
    Narratives: <br>
    <br>
    {% for narrative in narratives: %}
    {% if narrative['VARIABLE'].startswith('narrative') %}
    {% set newnarrativenumber = (NNUMBER + 1) %}
    <textarea name='newnarrativenumber' cols='2' rows='1'>{{ newnarrativenumber }}</textarea>  
    <textarea input name="newnarrative"></textarea> <br>
    {% endif %}

    {% endfor %} 
   

    <input name="form" value="Create Narrative" type="submit">
</form>