<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>ViewOutline</title>

  
</head><body>
<div style="text-align: center;">PLOTLINE...View Outline<br>
   <a href="\createscene">Create...</a>
  <a href="\editscene">Edit...</a>
  <a href="\viewoutline">View...</a>
  <br>
  <br>

<div style="text-align: left;">

{% for row in info %}

SC: {{row['CHAPTER']}}.{{row['SCENE']}}: {{row['TITLE']}}<a href="\editscene\{{row['KEY']}}">[edit]</a><br>
LOC: {{row['LOCATION']}}<br>

BEATS:<br>
{% for beat in beats %}
{% set scenenumber = "scene" + row['KEY']|string %}
{% if beat['KEY'] == row['KEY'] %}

{% if beat['NARRATIVE'] == narrative1 %}
{% set color = 'orange' %}
{% elif beat['NARRATIVE'] == 'Terrorism' %}
{% set color = 'purple' %}
{% elif beat['NARRATIVE'] == 'Liam + Sophia' %}
{% set color = 'pink' %}
{% elif beat['NARRATIVE'] == 'Emma is a spy' %}
{% set color = 'gray' %}
{% elif beat['NARRATIVE'] == 'Jean is Evil' %}
{% set color = 'cadetblue' %}
{% elif beat['NARRATIVE'] == 'Elijah Investigates' %}
{% set color = 'green' %}
{% elif beat['NARRATIVE'] == 'Emma is Dead' %}
{% set color = 'silver' %}
{% elif beat['NARRATIVE'] == 'Rachel + Ben' %}
{% set color = 'fuchsia' %}
{% elif beat['NARRATIVE'] == 'Ben + Sophia' %}
{% set color = 'maroon' %}
{% elif beat['NARRATIVE'] == 'Rachel needs Bens Help' %}
{% set color = 'lime' %}
{% elif beat['NARRATIVE'] == 'Sophia Investigates Repairs' %}
{% set color = 'olive' %}
{% elif beat['NARRATIVE'] == 'Liam Investigates Terrorism' %}
{% set color = 'yellow' %}
{% elif beat['NARRATIVE'] == 'Jean + Sophia' %}
{% set color = 'navy' %}
{% elif beat['NARRATIVE'] == 'Emma + Jean' %}
{% set color = 'teal' %}
{% elif beat['NARRATIVE'] == 'The ONHR' %}
{% set color = 'aqua' %}
{% elif beat['NARRATIVE'] == 'Special' %}
{% set color = 'red' %}

{% endif %}


<span style="background-color: {{ color }};"> - {{ beat[scenenumber] }}</span> <br>
{% endif %}
{% endfor %}

<br>
<br>
{% endfor %}

</div>

</body></html>