{% extends 'base.html' %}

  {% block content %}

<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>ViewOutline</title>

  
</head><body>
<div style="text-align: center;">PLOTLINE...View Outline<br>
   <a href="\createscene">Create...</a>
  <a href="\editscene">Edit...</a>
  <a href="\viewoutline">View...</a>
  <br>
  <br>

<div style="text-align: left;">

{% for row in info %}
{% if row['SCENE'] > 0 %}

SC: {{row['CHAPTER']}}.{{row['SCENE']}}: {{row['TITLE']}}<a href="\editscene\{{row['KEY']}}">[edit]</a><br>
LOC: {{row['LOCATION']}}<br>

BEATS:<br>
{% for beat in beats %}
{% set scenenumber = "scene" + row['KEY']|string %}
{% if beat['KEY'] == row['KEY'] %}

{% if beat['NARRATIVE'] == narrative1 %}
{% set color = 'narrative1' %}
{% elif beat['NARRATIVE'] == narrative2 %}
{% set color = 'narrative2' %}
{% elif beat['NARRATIVE'] == narrative3 %}
{% set color = 'narrative3' %}
{% elif beat['NARRATIVE'] == narrative4 %}
{% set color = 'narrative4' %}
{% elif beat['NARRATIVE'] == narrative5 %}
{% set color = 'narrative5' %}
{% elif beat['NARRATIVE'] == narrative6 %}
{% set color = 'narrative6' %}
{% elif beat['NARRATIVE'] == narrative7 %}
{% set color = 'narrative7' %}
{% elif beat['NARRATIVE'] == narrative8 %}
{% set color = 'narrative8' %}
{% elif beat['NARRATIVE'] == narrative9 %}
{% set color = 'narrative9' %}
{% elif beat['NARRATIVE'] == narrative10 %}
{% set color = 'narrative10' %}
{% elif beat['NARRATIVE'] == narrative11 %}
{% set color = 'narrative11' %}
{% elif beat['NARRATIVE'] == narrative12 %}
{% set color = 'narrative12' %}
{% elif beat['NARRATIVE'] == narrative13 %}
{% set color = 'narrative13' %}
{% elif beat['NARRATIVE'] == narrative14 %}
{% set color = 'narrative14' %}
{% elif beat['NARRATIVE'] == narrative15 %}
{% set color = 'narrative15' %}
{% elif beat['NARRATIVE'] == narrative16 %}
{% set color = 'narrative16' %}
{% elif beat['NARRATIVE'] == narrative16 %}
{% set color = 'narrative17' %}
{% elif beat['NARRATIVE'] == narrative16 %}
{% set color = 'narrative18' %}
{% elif beat['NARRATIVE'] == narrative16 %}
{% set color = 'narrative19' %}
{% elif beat['NARRATIVE'] == narrative16 %}
{% set color = 'narrative20' %}

{% endif %}


<span class="{{ color }}"> - {{ beat[scenenumber] }}</span> <br>
{% endif %}
{% endfor %}

<br>
<br>
{% endif %}
{% endfor %}

</div>

</body></html>

{% endblock %}